
<h2>Gestion des employés</h2>

<ul>
  <li *ngFor="let employe of listeEmployees; let i = index" class='text' >
  {{i+1}}. {{employe.nom}}   <br> {{employe.prenom}}   <br> {{employe.email}} <br> {{employe.materiel}} <br> {{employe.pc}}

  <label for="nom" class='text'>Nom</label>
  <input type="text" id="nom" [(ngModel)]="nom" name="nom" >
<br>
  <label for="prenom" class='text'>Prénom</label>
  <input type="text" id="prenom" [(ngModel)]="prenom" name="prenom" >
<br>
  <label for="email" class='text'>email</label>
  <input type="email" id="email" [(ngModel)]="email" name="email" >
<br>
  <label for="materiel" class='text'>Matériel</label>
  <input type="text" id="materiel" [(ngModel)]="materiel" name="materil" >
<br>
  <label for="pc" class='text'>PC</label>
  <input type="text" id="pc" [(ngModel)]="pc" name="pc" >
<br>
  <button (click)="modifierEmploye(i)" class="btn-grn" >Valider les changements</button>
  <br>
  <button (click)="supprimerEmploye(i)" class="btn-red">Supprimer un employé</button>
  <br>
  <br>
  <br>
  </li>

  </ul>
